{% assign posts=include.posts | default: site.posts %}

{% for post in posts reversed %}{% if forloop.index <= 3%}<article class="article" {% if post.hidden %}hidden{% endif %}>
    <a class="article-link" href="{{ post.url | prepend: site.baseurl }}">
        {% if post.image %}
            {% assign src = post.image | uri_escape %}
        {% else %}
            {% assign src = post.content | split: 'data-content-cover-bg="' %}
            {% assign src = src[1] | split: '"' %}
            {% assign src = src[0] | uri_escape %}
        {% endif %}

        {% if src %}
        <figure class="article-figure">
            <div class="article-image" style="background-image: url('{{ src }}');" title="{{ post.title }}"/>
        </figure>
        {% endif %}
        <div class="article-title">{{ post.title }}</div>
        <div class="article-meta">
            {% if post.author %}<span class="article-author">{{ post.author }}</span>{% endif %}
            <time class="article-date" datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date_to_string }}
            </time>
        </div>
        <div class="article-excerpt">
            {{ post.excerpt | strip_html | truncatewords: 22 }}
        </div>
    </a>
</article>{% endif %}{% endfor %}
