{% assign posts=include.posts | default: site.posts %}

{% for post in posts %}<article class="article" itemscope itemtype="http://schema.org/BlogPosting" {% if post.hidden %}hidden{% endif %}>
    <a class="article-link" href="{{ post.url | prepend: site.baseurl }}">
        {% assign src = post.content | split: 'data-content-cover-bg="' %}
        {% assign src = src[1] | split: '"' %}
        {% assign src = src[0] %}
        {% if src %}
        <figure class="article-figure">
            <div class="article-image" style="background-image: url({{ src }});" title="{{ post.title }}"/>
        </figure>
        {% endif %}
        <h4 class="article-title">{{ post.title }}</h4>
        <time class="article-date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.date | date_to_string }}
        </time>
        <div class="article-excerpt">
            {{ post.excerpt | strip_html | truncatewords: 22 }}
        </div>
    </a>
</article>{% endfor %}
