:root {
	background: rgb(204,204,204);
}

body {
  line-height: 1.3;
}

.page {
	background: white;
}


.site-content {
  min-height: 60vh;
}

.site-content p a {
  color: black;
  border-bottom: 1px solid rgba(0,0,0,.15);
  text-decoration: none
}
.site-content p a:visited {
  color: black;
  border-bottom: 1px solid rgba(0,0,0,.15);
}
.site-content p a:hover {
  border-bottom: 1px solid rgba(0,0,0,1);
}

.site-header ~ .site-content {
  margin-top: 7rem;
  /*padding-top: .8rem;*/
}

.site-header--transparent ~ .site-content {
  margin-top: 0rem;
}
@media (max-width: 640px) {
  .site-header--transparent ~ .site-content {
    margin-top: 2.4rem;
  }
}

.page--default .site-content {
  max-width: 1180px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 8.6rem 0 7.2rem;
  position: relative;
}
.page--default .site-content-container {
  max-width: 800px;
}

img { color: gray; text-align: center; }


.site-header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  transition: .35s ease-in-out;
  line-height: 4.8rem;
  box-sizing: border-box;
  z-index: 3;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: rgba(255,255,255,1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.15);
}
@media (min-width: 640px) {
  .site-header--transparent:not(.site-header--sticky) {
    background: rgba(255,255,255,0);
    box-shadow: none;
    line-height: 6.4rem;
  }
  .site-header {
    position: fixed;
  }
  .site-header--sticky {
    line-height: 3.2rem;
  }
}
@media (max-width: 640px) {
  .site-header.site-header--transparent {
    background: rgba(255,255,255,0);
    box-shadow: none;
    line-height: 6.4rem;
  }
}
.site-header-bar {
  background: #DC4444;
  color: white;
  line-height: 2.4rem;
  height: 2.4rem;
  font-size: .8rem;
  font-weight: 200;
  transition: .25s ease-in-out margin;
  margin-top: 0;
  position: relative;
  white-space: nowrap;
}
@media (min-width: 640px) {
  .site-header--sticky .site-header-bar {
    margin-top: -2.4rem;
  }
}
.site-header-social {
  float: right;
  margin-left: 1rem;
  height: 2.4rem;
}
.site-header-social .social-link {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  text-align: center;
  transition: .25s linear background;
  border-left: 1px solid rgba(255,255,255,.25);
  background: rgba(255,255,255,0);
}
.site-header-social .social-link svg {
  fill: rgb(255, 255, 255);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
  width: .8rem;
  height: .8rem;
}
.site-header-social .social-link:hover {
  background: rgba(255,255,255,.25);
}
.site-header-bar-slogan {
  text-align: right;
}
@media (max-width: 640px) {
  .site-header-bar-slogan {
    display: none;
  }
}
.site-header-bar-content,
.site-header-main {
  position: relative;
  max-width: 1180px;
  margin: 0 auto 0;
}
.site-logo {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 1.7rem;
  min-width: 220px;
}
.site-logo-image {
  display: block;
  transition: .25s ease-in-out;
  transform: scale(1);
  transform-origin: left center;
  opacity: 1;
  position: absolute;
  top: -2px;
  left: 0;
}
.site-logo-image--inverse {
  opacity: 0;
}
.site-header--inverse .site-logo-image--direct {
  opacity: 0;
}
.site-header--inverse .site-logo-image--inverse {
  opacity: 1;
}
@media (max-width: 640px) {
  .site-header-main {
    text-align: center;
  }
  .site-logo-image {
    transform-origin: center center;
  }
}
@media (min-width: 640px) {
  .site-header--sticky.site-header--inverse .site-logo-image--inverse {
    opacity: 0;
  }
  .site-header--sticky.site-header--inverse .site-logo-image--direct {
    opacity: 1;
  }
  .site-header--sticky .site-logo-image {
    transform: scale(.8);
  }
}

.site-header-nav {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.site-header-nav .menu-item {
  position: relative;
  font-size: .95rem;
  margin: 0 .75rem;
  padding: 0 0;
  display: inline-block;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
.site-header-nav .menu-item > .menu-link {
  text-decoration: none;
  -webkit-transition 0.25s;
  transition: 0.25s;
  font-weight: 500;
  color: #898a8c;
}
.site-header--inverse .menu-item > .menu-link {
  color: rgb(240,240,240);
}
.site-header--sticky.site-header--inverse .menu-item > .menu-link {
  color: #898a8c;
}
.site-header-nav .menu-item:hover > .menu-link,
.site-header-nav .menu-item.menu-item--active > .menu-link,
.site-header-nav .menu-item:focus > .menu-link {
  color: #DC4444;
}
.site-header-nav .menu-item .flag {
  position: relative;
}

/* Prospero */
.site-header-nav .menu-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #d94f5c;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
}

.site-header-nav .menu-item:focus::before,
.site-header-nav .menu-item--active::before,
.site-header-nav .menu-item:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}



/*!
 * Hamburgers excerpt
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

.site-header--inverse .hamburger-inner, .site-header--inverse .hamburger-inner::before, .site-header--inverse .hamburger-inner::after {
    background-color: #fff;}

.site-header--inverse.site-header--sticky .hamburger-inner, .site-header--inverse.site-header--sticky .hamburger-inner::before, .site-header--inverse.site-header--sticky .hamburger-inner::after {
    background-color: #000;}


/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }


.menu-toggle {
  transform: scale(.7);
  outline: none;
  box-shadow: none;
  position: absolute;
  top: 0;
  right: 1.2rem;
  padding: 0;
  z-index: 3;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);

}
.menu-toggle:active {
  background: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
}
.menu-toggle .hamburger-box {
  vertical-align: middle;
}

@media (max-width: 640px) {
  .site-logo {
    margin-left: -2.4rem;
  }
}

@media (min-width: 640px) {
  .menu-toggle {
    display: none;
  }
}

.menu-item {
  position: relative;
  display: inline-block;
}
.menu-link {
  cursor: pointer;
}
.menu-dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -1.2rem;
  top: 100%;
  padding-top: 16px;
  display: block;
  visibility: hidden;
}



@media (max-width: 640px) {
  .menu {
    overflow: hidden;
    pointer-events: none;
  }

  .site-header--sticky .menu-toggle {
    position: fixed;
  }
  .site-header--sticky .menu {
    position: fixed;
  }

  .site-header-nav {
    bottom: auto;
    top: 5.2rem;
    width: 100%;
    box-sizing: border-box;
    padding: 1.2rem;
  }

  .site-header-nav .menu-item {
    box-sizing: border-box;
    white-space: nowrap;
    display: block;
    box-shadow: 0 2px 13px 0px rgba(0,0,0,0.15);
    border-bottom: 1px solid rgb(243, 243, 243);
    text-align: left;
    line-height: 3.2rem;
    min-height: 3.2rem;
    margin: 0;
    background: #fff;
    position: relative;
    transition: .25s ease-in-out;
    opacity: 0;
    font-size: 1rem;
    padding: 0 1rem 0 1.4rem;
    margin-top: 0;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}


.site-footer a {
  color: white;
}

.smooth-container { scroll-behavior: smooth }
.back-button {
  cursor: pointer;
  width: 2.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  position: fixed;
  bottom: 1.4rem;
  right: 1.4rem;
  border-radius: 4rem;
  background: rgba(25, 27, 29, .85);
  opacity: 0;
  transition: .25s;
}
.back-button svg {
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  margin: auto;
  top: 0;
  left: 0;
  fill: white;
  bottom: .2rem;
  right: 0;
}

.site-header--inverse .back-button:active {
  background: rgba(255,255,255,.9)
}
.site-header--inverse .back-button:active svg {
  fill: rgb(25, 27, 29);
}

.site-header--sticky .back-button {
  opacity: 1;
}


.site-footer {
  background: #202224;
  color: #fff;
  line-height: 1.5;
}
.site-footer a {
  color: white;
  text-decoration: none;
  transition: .25s linear;
  border-bottom: 1px solid rgba(255,255,255,.15);
}
.site-footer a:hover {
  border-bottom: 1px solid rgba(255,255,255,1);
}
.site-footer-section {
  position: relative;
}
.site-footer-container {
  max-width: 1180px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.site-footer-column {
  width: 25%;
  float: left;
  font-size: .84rem;
  padding: 3.6rem 1.6rem 3.6rem 0;
  box-sizing: border-box;
  color: #E5E5E5;
  font-weight: 100;
  line-height: 1.7;
}
.site-footer-column p {
  margin-top: 0;
}

.post-arrow {
  display: none;
}

/** tilda critical */
.t-cover {
  background-size: cover;
}
.t-records{-webkit-font_smoothing:antialiased;background-color:none}.t-records a{color:#ff8562;text-decoration:none}.t-records a[href^=tel]{color:inherit;text-decoration:none}
.t-name{font-family:'Roboto',sans-serif;font-weight:600;color:#000}
.t-descr{font-family:'Roboto',sans-serif;font-weight:300;color:#000}
.t-btn{display:inline-block;font-family:'Roboto',sans-serif;height:60px;border:0 none;font-size:16px;padding-left:60px;padding-right:60px;text-align:center;white-space:nowrap;vertical-align:middle;font-weight:700;background-image:none;cursor:pointer;-webkit-appearance:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.t-btn td{vertical-align:middle}.t-btn_sending{opacity:.5}
@media screen and (max-width:640px){.t-btn{white-space:normal;padding-left:30px;padding-right:30px}}
.t-uppercase{text-transform:uppercase}.t-align_center{text-align:center}.t-align_left{text-align:left}.t-align_right{text-align:right}
.t-container{max-width:1200px;margin-left:auto;margin-right: auto;}
.t-container:after{clear:both}
.t-cell{display:table-cell;vertical-align:middle;height:100%;margin-left:0;margin-right:0}
.t-cell_25{width:25vw}
.t335__submit{line-height: 60px;}



.t335__table{display:table;width:100%;vertical-align:middle;background-color:#000;position:relative;overflow:hidden}.t335__col{overflow:hidden}.t335__bg{background-position:center center;background-repeat:no-repeat;background-size:cover;position:absolute;top:0;right:0;bottom:0;left:0}.t335__cell:hover .t335__bg_animated{-moz-transform:scale(1.05);-ms-transform:scale(1.05);-webkit-transform:scale(1.05);-o-transform:scale(1.05);transform:scale(1.05)}.t335__overlay{position:absolute;top:0;right:0;bottom:0;left:0}.t335__show_hover .t335__overlay{opacity:0}.t335__cell:hover .t335__overlay{opacity:.8}.t335__show_hover .t335__cell:hover .t335__overlay{opacity:1}.t335__cell{display:table-cell;width:100%;height:100%}.t335__textwrapper{padding:20px 40px;position:relative}.t335__show_hover .t335__textwrapper{opacity:0}.t335__show_hover .t335__textwrapper.t335__textwrapper_animated{-moz-transform:translateY(20%);-ms-transform:translateY(20%);-webkit-transform:translateY(20%);-o-transform:translateY(20%);transform:translateY(20%)}.t335__show_hover .t335__cell:hover .t335__textwrapper{opacity:1}.t335__cell:hover .t335__textwrapper_animated{-moz-transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}.t335__textwrapper__content{margin:30px auto;position:relative}.t335__text{color:#fff;margin-top:20px}.t335__title{color:#fff}.t335__img{width:100%;max-width:70px}.t335__animation_fast{-webkit-transition:all ease-in-out .25s;-moz-transition:all ease-in-out .25s;-o-transition:all ease-in-out .25s;transition:all ease-in-out .25s}.t335__animation_slow{-webkit-transition:all ease-in-out .45s;-moz-transition:all ease-in-out .45s;-o-transition:all ease-in-out .45s;transition:all ease-in-out .45s}.t-cell_100 .t335__table{height:80vh}.t-cell_50 .t335__table{height:80vh}.t-cell_33 .t335__table{height:60vh}.t-cell_25 .t335__table{height:60vh}.t-cell_25 .t335__textwrapper{padding:20px}.t335__button-container{-webkit-transition:all ease-in-out .2s;-moz-transition:all ease-in-out .2s;-o-transition:all ease-in-out .2s;transition:all ease-in-out .2s;position:absolute;right:0;bottom:0;left:0;opacity:0}.t335__button-container_show{opacity:1}.t335__textwrapper__content{-webkit-transition:all ease-in-out .2s;-moz-transition:all ease-in-out .2s;-o-transition:all ease-in-out .2s;transition:all ease-in-out .2s}.t335__button-wrapper{display:inline-block;margin-top:40px}.t335__submit{text-align:center;height:50px;vertical-align:middle;display:table-cell;border:0 none;font-size:16px;padding-left:34px;padding-right:34px;-webkit-appearance:none;background:none}.t335__submit_middle{font-size:14px;height:44px;line-height:44px;padding-left:30px;padding-right:30px}.t335__submit_small{font-size:12px;height:40px;line-height:40px;padding-left:24px;padding-right:24px}.t335__button-bottom .t335__textwrapper{position:static}.t335__button-bottom .t335__button-container{left:40px;bottom:40px;right:40px;-moz-transform:translateY(30%);-ms-transform:translateY(30%);-webkit-transform:translateY(30%);-o-transform:translateY(30%);transform:translateY(30%)}.t-cell_25 .t335__button-bottom .t335__button-container{left:20px;bottom:30px;right:20px}.t-cell_25 .t335__textwrapper__content{margin-top:10px}.t335__button-bottom .t335__button-container.t335__button-container_show{-moz-transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}@media screen and (max-width:960px){.t335__col.t-cell_25{width:50vw;float:left}}@media screen and (max-width:700px){.t335__col.t-cell_50,.t335__col.t-cell_33{width:100vw;display:block}.t335__col .t335__table{height:380px}.t335__textwrapper{padding:20px 20px}}@media screen and (max-width:500px){.t335__col.t-cell_25{width:100vw;display:block}}

.t335__title {
color: rgba(255,255,255,0);
}
.t335__text {
  color: rgba(255,255,255,0);
}

