<!-- Global and page-specific structured data -->









{% if page.blank != true %}
	{% unless page.boost == true %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDh1gTWO5V-HZl2T_9iXLCDPcuLt8aXNc" async defer></script>
	{% endunless %}
	<script src="{% include asset name='instafeed.min.js' %}" defer async></script>
	<script src="{% include asset name='zenscroll.js' %}" defer async></script>
	<script src="{% include asset name='index.js' %}" defer async></script>

	<script type="text/javascript">
		{% if page.tilda != false %}
		function loadDeferredScripts () {
			importScript('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', function () {
				importScript("{% include asset name='tilda.js' %}", function () {
					window.dispatchEvent(new Event('jqueryReady'))

					// do planned jQuery calls
					for (var i = 0; i < plannedJqueryCalls.length; i++) {
						var name = plannedJqueryCalls[i][0],
							args = plannedJqueryCalls[i][1]

						jQuery[name].apply(jQuery, args)
					}
				})
			})
			{% endif %}
		}

		//deshim jquery
		window.$ = window.jQuery = null

		function importScript (sSrc, fOnload) {
			var oScript = document.createElement("script");
			oScript.type = "text\/javascript";
			// oScript.onerror = loadError;
			if (fOnload) { oScript.onload = fOnload; }
			document.body.appendChild(oScript);
			oScript.src = sSrc;
		}

		function loadDeferredStyles () {
			var addStylesNode = document.getElementById("deferred-styles");
			var replacement = document.createElement("div");
			replacement.innerHTML = addStylesNode.textContent;
			document.body.appendChild(replacement)
			addStylesNode.parentElement.removeChild(addStylesNode);

			loadDeferredScripts()
		};
		var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
		if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
		else window.addEventListener('load', loadDeferredStyles);
    </script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" async defer onload="initJquery"></script> -->
	<!-- <script src="{% include asset name='tilda.js' %}"></script> -->


	<!-- Retarded styles -->
	<noscript id="deferred-styles">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&subset=latin" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin" rel="stylesheet"/>

		{% if page.tilda == true %}
		<link rel="stylesheet" href="{% include asset name='tilda.css' %}" media="screen">
		{% endif %}

		<link rel="stylesheet" type="text/css" href="{% include asset name='index.css' %}"/>
    </noscript>
{% endif %}
