<footer id="footer" class="site-footer">
	<div class="site-footer-section site-footer-section--columns">
		<div class="site-footer-column site-footer-column--1">
			<h3 class="site-footer-column-title">Reach us</h3>

			{% include map.html id="footer-map" height="8rem" %}

			{% include address.html %}

			{% include social.html class="site-footer-social" %}
		</div>

		<div class="site-footer-column site-footer-column--2">
			<h3 class="site-footer-column-title">Recent blog articles</h3>
			{% assign posts=site.posts|slice: 0,3 %}
			{% include articles.html posts=posts %}
		</div>

		<div class="site-footer-column site-footer-column--3">
			<h3 class="site-footer-column-title">Instagram</h3>

			{% include instagram.html %}
		</div>

		<div class="site-footer-column site-footer-column--4">
			<h3 class="site-footer-column-title">Let’s be friends</h3>

			<!-- facebook group -->
			<div class="fb-page" data-href="https://www.facebook.com/TTBAgroup" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/TTBAgroup" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TTBAgroup">TTBA Group</a></blockquote></div>
		</div>
	</div>

	<div class="site-footer-section site-footer-section--nav">
		{% include menu.html class="site-footer-nav" separator="|" nolang=true %}

		<div class="site-footer-copyright">{{ site.copyright[lang] }}</div>
	</div>

	<div class="site-footer-section site-footer-section--lang">
		<nav class="site-footer-lang">
			<a class="site-footer-lang-link" href="/en">{% include flag-en.html %} English</a>
			<a class="site-footer-lang-link" href="/fr">{% include flag-fr.html %} Français</a>
		</nav>
	</div>
</footer>

