{% assign lang=page.lang | default: 'en' %}
<footer id="footer" class="site-footer">
	{% unless page.boost == true %}
	<div class="site-footer-section site-footer-section--columns">
		<div class="site-footer-container">
			<div class="site-footer-column site-footer-column--1">
				<div class="site-footer-column-title">Reach us</div>

				<div class="map-pin-spacer"></div>

				{% include address.html %}

				{% include social.html class="site-footer-social" %}
			</div>

			<div class="site-footer-column site-footer-column--2">
				<div class="site-footer-column-title">Recent blog articles</div>
				{% assign posts=site.posts | where: 'lang', lang | sort: 'date' %}
				{% include articles.html posts=posts %}
			</div>

			<div class="site-footer-column site-footer-column--3">
				<div class="site-footer-column-title">Instagram</div>

				{% include instagram.html %}
			</div>

			<div class="site-footer-column site-footer-column--4">
				<div class="site-footer-column-title">Let’s be friends</div>

				<!-- facebook group -->
				<div class="fb-page" data-href="https://www.facebook.com/TTBAgroup" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">

				<blockquote cite="https://www.facebook.com/TTBAgroup" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TTBAgroup">TTBA Group</a></blockquote>
				</div>
			</div>
		</div>


		<div class="map-container">
			<div id="map" class="map"></div>
		</div>
	</div>
	{% endunless %}

	<div class="site-footer-section site-footer-section--bottom">
		{% include menu.html class="site-footer-nav" separator="|" nolang=true %}

		<div class="site-footer-copyright">{{ site.t.copyright[lang] }}</div>

		<nav class="site-footer-lang">
			<a class="site-footer-lang-link" href="/en" title="English">{% include flag-en.html %}</a>
			<a class="site-footer-lang-link" href="/" title="Français">{% include flag-fr.html %}</a>
		</nav>
	</div>
</footer>
