<!-- Global and page-specific structured data -->
<script type="application/ld+json">{% include data-organization.json %}</script>
{% if page.service-name %}
<script type="application/ld+json">{% include data-service.json rating=page.service-rating reviews=page.service-reviews name=page.service-name %}</script>
{% endif %}


<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script src="https://cdn.jsdelivr.net/ga-lite/latest/ga-lite.min.js" async></script>
<script>
var galite = galite || {};
galite.UA = 'UA-57895391-1'; // Insert your tracking code here
</script>


<!-- Hotjar Tracking Code for http://ttbagroup.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:185515,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '1054128614681615');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1054128614681615&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->



{% if page.blank != true %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDh1gTWO5V-HZl2T_9iXLCDPcuLt8aXNc" async defer></script>
	<script src="{% include asset name='instafeed.min.js' %}" defer async></script>
	<script src="{% include asset name='zenscroll.js' %}" defer async></script>
	<script src="{% include asset name='index.js' %}" defer async></script>

	<script type="text/javascript">
		{% if page.tilda != false %}
		//deshim jquery
		window.$ = window.jQuery = null
		importScript('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', function () {
			importScript("{% include asset name='tilda.js' %}", function () {
				window.dispatchEvent(new Event('jqueryReady'))

				// do planned jQuery calls
				for (var i = 0; i < plannedJqueryCalls.length; i++) {
					var name = plannedJqueryCalls[i][0],
						args = plannedJqueryCalls[i][1]

					jQuery[name].apply(jQuery, args)
				}
			})
		})
		{% endif %}

		function importScript (sSrc, fOnload) {
			var oScript = document.createElement("script");
			oScript.type = "text\/javascript";
			// oScript.onerror = loadError;
			if (fOnload) { oScript.onload = fOnload; }
			document.body.appendChild(oScript);
			oScript.src = sSrc;
		}

		function loadDeferredStyles () {
			var addStylesNode = document.getElementById("deferred-styles");
			var replacement = document.createElement("div");
			replacement.innerHTML = addStylesNode.textContent;
			document.body.appendChild(replacement)
			addStylesNode.parentElement.removeChild(addStylesNode);
		};
		var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
		if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
		else window.addEventListener('load', loadDeferredStyles);
    </script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" async defer onload="initJquery"></script> -->
	<!-- <script src="{% include asset name='tilda.js' %}"></script> -->


	<!-- Retarded styles -->
	<noscript id="deferred-styles">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&subset=latin" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin" rel="stylesheet"/>

		{% if page.tilda == true %}
		<link rel="stylesheet" href="{% include asset name='tilda.css' %}" media="screen">
		{% endif %}

		<link rel="stylesheet" type="text/css" href="{% include asset name='index.css' %}"/>
    </noscript>
{% endif %}
