<header class="site-header{% if page.transparent %} site-header--transparent{% endif %}{% if page.inverse %} site-header--inverse{% endif %}">
	<div class="site-header-bar">
		<div class="site-header-bar-content">
			{% include social.html class="site-header-social" %}
			<div class="site-header-bar-slogan">
				{{ site.tagline[lang] }}
			</div>
		</div>
	</div>

	<div class="site-header-main">
		<a class="site-logo" href="{% include t-link.html ref='home' %}">
			<img class="site-logo-image site-logo-image--inverse" src="/img/logo-inverse.png?v=1" alt="TTBA Group Logo"/>
			<img class="site-logo-image site-logo-image--direct" src="/img/logo.png" alt="TTBA Group Logo"/>
		</a>

		{% include menu.html class="site-header-nav" dropdown=true toggle=true %}

	</div>

	<div class="back-button">{% include up.svg %}</div>
</header>




<!-- Facebook -->
<div id="fb-root"></div>
<script>

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  // js.src = "{{ site.assetsurl }}/fb-sdk.js";
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>
