<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ page.meta-title | default: site.title[lang] }}</title>
	<meta name="description" content="{{ page.meta-description | default: site.description[lang] }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">

    <style>{% include normalize.css %}</style>

    <!-- critical -->
    <style type="text/css">{% include critical.css %}</style>


	<meta property="fb:pages" content="1480973575459101" />

</head>
