<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ page.meta-title | default: site.title[lang] }}</title>
	<meta name="description" content="{{ page.meta-description | default: site.description[lang] }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <style>{% include normalize.css %}</style>
    {% if page.tilda != true %}
    <style>{% include typebase.css %}</style>
    {% endif %}

    <!-- critical -->
    <style type="text/css">{% include critical.css %}</style>

	<meta property="fb:pages" content="1480973575459101" />

	{% if page.noindex == true %}
	<meta name="robots" content="noindex" />
	{% endif %}

</head>
