<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page.meta-title | default: site.t.title[lang] }}</title>
	<meta name="description" content="{{ page.meta-description | default: site.t.description[lang] }}">
	<meta name="keywords" content="" />
	<meta name="author" content="{{ page.author | default: site.author }}" />
	<meta name="copyright" content="{{ site.t.copyright[lang] }}" />
	<meta name="application-name" content="{{ site.t.title[lang] }}" />

	{% feed_meta %}

	<link rel='apple-touch-icon' type='image/png' href='{{ site.assets }}/favicon.png'>
	<link rel="icon" type="image/png" href="{{ site.assets }}/favicon.png" />

	<!-- for Facebook -->
	<meta property="og:title" content="{{ page.meta-title | default: site.t.title[lang] }}" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="{% include featured-image %}" />
	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
	<meta property="og:description" content="{{ page.meta-description | default: site.t.description[lang] }}" />

	<!-- for Twitter -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="{{ page.meta-title | default: site.t.title[lang] }}" />
	<meta name="twitter:description" content="{{ page.meta-description | default: site.t.description[lang] }}" />
	<meta name="twitter:image" content="{% include featured-image %}" />

    <style>{% include normalize.css %}</style>
    {% if page.tilda != true %}
    <style>{% include typebase.css %}</style>
    {% endif %}

    <!-- critical -->
    <style type="text/css">{% include critical.css %}</style>

	<meta property="fb:pages" content="1480973575459101" />

	{% if page.noindex == true and page.nofollow == true %}
	<meta name="robots" content="noindex,nofollow" />
	{% elsif page.noindex == true %}
	<meta name="robots" content="noindex" />
	{% elsif page.nofollow == true %}
	<meta name="robots" content="nofollow" />
	{% endif %}

	<script type="text/javascript">
		//shim jquery for optimization purposes
		window.$ = window.jQuery = function (x) {
			return {
				ready: function (fn) {
					window.addEventListener('jqueryReady', function (e) {
						fn.call(x, e)
					})
				},
				resize: function (fn) {
					window.addEventListener('resize', function (e) {
						fn.call(x, e)
					})
				},
				load: function (fn) {
					window.addEventListener('jqueryReady', function (e) {
						fn.call(x, e)
					})
				},
				bind: function () {planJqueryCall('bind', arguments)},
				unbind: function () {planJqueryCall('unbind', arguments)},
				on: function () {planJqueryCall('on', arguments)},
				one: function () {planJqueryCall('one', arguments)},
				off: function () {planJqueryCall('off', arguments)}
			}
		}

		//add plannable method
		var jqueryMethods = 'bind,unbind,on,one,off,focus,click,dblclick,mouseenter,mouseleave,blur,animate,css,hide,show,hover,select,get,post,ajax'.split(',')
		jqueryMethods.forEach(function (method) {
			$[method] = function () {planJqueryCall(method, arguments)}
		})

		var plannedJqueryCalls = []
		function planJqueryCall (name, args) {
			plannedJqueryCalls.push([name, args])
		}
	</script>
</head>
