
<div class="insta-feed-container">
	<div id="instafeed" class="insta-feed"></div>
	<a href="http://instagram.com/ttbagroup" target="_blank" class="insta-feed-follow">{% include instagram.svg %} Follow us</a>
</div>


<script type="text/javascript" src="{% include asset name='instafeed.min.js' %}" defer async></script>

<script type="text/javascript">
	if (!/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
		window.addEventListener('load', function () {
			var feed = new Instafeed({
				accessToken: '235480280.3a81a9f.45a7edf8b588430f850c2cec801d3d9f',
				userId: '235480280',
				get: 'user',
				limit: 9,
				resolution: 'thumbnail',
				template: {% raw %}'<a class="insta-item" href="{{link}}"><div class="insta-image" style="background-image:url({{image}})"></div></a>'{% endraw %}
			});
			feed.run();
		})
	}
</script>
