{% assign dd = include.refs.size > 0 %}
{% assign link = include.ref %}
{% assign links = include.refs | split: ',' %}
<div class="menu-item {% if dd %}menu-item--dropdown{% endif%}{% if page.ref == link or links contains page.ref %} menu-item--active{% endif %}">
	<a class="menu-link" href="{% include t-link ref=link %}">{{ site.t.menu[lang][ref] }}</a>
{% if dd and dropdown %}
<ul class="menu-dropdown">
{% for link in links %}
<li class="menu-dropdown-item{% if page.ref == link %} menu-dropdown-item--active{% endif %}"><a class="menu-link" href="{% include t-link ref=link %}">{{ site.t.menu[lang][link] }}</a></li>
{% endfor %}
</ul>
{% endif %}
</div>
