<nav class="{{ include.class }} menu">
	<a class="menu-link {% if page.url == '/' %}menu-link--active{% endif %}" href="/{% if lang != 'en' %}{{ lang }}{% endif %}">{{ site.menu[lang].home }}</a>
	<a class="menu-link {% if page.url == '/services/' %}menu-link--active{% endif %}" href="/services/{% if lang != 'en' %}{{ lang }}{% endif %}">{{ site.menu[lang].services }}</a>
	<a class="menu-link {% if page.url == '/projects/' %}menu-link--active{% endif %}" href="/projects/{% if lang != 'en' %}{{ lang }}{% endif %}">{{ site.menu[lang].projects }}</a>
	<a class="menu-link {% if page.url == '/blog/' %}menu-link--active{% endif %}" href="/blog/{% if lang != 'en' %}{{ lang }}{% endif %}">{{ site.menu[lang].blog }}</a>
	<a class="menu-link {% if page.url == '/about/' %}menu-link--active{% endif %}" href="/about/{% if lang != 'en' %}{{ lang }}{% endif %}">{{ site.menu[lang].about }}</a>
	<a class="menu-link {% if page.url == '/contact/' %}menu-link--active{% endif %}" href="/contact/{% if lang != 'en' %}{{ lang }}{% endif %}">{{ site.menu[lang].contact }}</a>
</nav>
