<nav class="{{ include.class }} social-links"><a
	class="social-link" href="https://www.facebook.com/TTBAgroup/">{% include facebook.svg %}</a><a
	class="social-link" href="https://twitter.com/GroupeTTBA">{% include twitter.svg %}</a><a
	class="social-link" href="https://plus.google.com/+Groupettba">{% include googleplus.svg %}</a><a
	class="social-link" href="https://www.instagram.com/ttbagroup/">{% include instagram.svg %}</a><a
	class="social-link" href="https://www.linkedin.com/company/ttba-event-lab">{% include linkedin.svg %}</a><a
	class="social-link" href="https://www.pinterest.com/ttbagroup/">{% include pinterest.svg %}</a><a
	class="social-link" href="https://www.youtube.com/user/ttbaevents">{% include youtube.svg %}</a>
</nav>
