<!doctype html>

{% assign lang=page.lang | default: 'en' %}

<html lang="{{ lang }}" class="no-js">

	{% include head.html %}

	<body class="page{% if page.tilda == true %} page--tilda{% elsif page.blank == true %} page--blank{% else %} page--default{% endif %}">
		{% if page.blank != true %}
			{% include header.html %}
		{% endif %}

		{% if page.previous %}
		<!-- Init prev/next post arrows -->
		<a class="post-arrow post-arrow--prev" href="{{ page.previous.url }}">
			{% include up.svg %} <span class="post-arrow-text">{{page.previous.title}}</span>
		</a>
		{% endif %}

		{% if page.next %}
		<a class="post-arrow post-arrow--next" href="{{page.next.url}}">
			<span class="post-arrow-text">{{page.next.title}}</span> {% include up.svg %}
		</a>
		{% endif %}

		<main class="site-content">
			{% if page.tilda == false and page.blank != true %}
			<div class="site-content-container">
				<h1>{{ page.title }}</h1>
				{{ content }}
			</div>
			{% else %}
			{{ content }}
			{% endif %}
		</main>

		{% if page.blank != true %}
			{% include footer.html %}
		{% endif %}

		{% include foot.html %}
	</body>
</html>
