<!doctype html>

{% assign lang=page.lang | default: 'en' %}

<html lang="{{ lang }}" class="no-js">

	{% include head.html %}

	<!-- slightly modified default.html to allow for easy tilda copy-paste insertions.
	Note that this is not the optimal according to speed insights -->
	<link rel="stylesheet" href="/assets/tilda.css" rel="stylesheet" media="screen">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/ttbagroup/ttbagroup.github.io/master/assets/tilda.js"></script>

	<body class="page {{ layout.type }}">
		{% include header.html %}

		<main class="site-content">
			{{ content }}
		</main>

		{% include footer.html %}
		{% include foot.html %}

		<script src="/assets/tilda.js"></script>
	</body>
</html>
